

.index_head.page_head {
    grid-template-columns: 5fr 5fr;
    margin-bottom: 80px;
}

.page_head {
    display: grid;
    grid-template-areas:
        "title img"
        "desk img";
    grid-template-columns: 7fr 3fr;
    column-gap: 20px;
    row-gap: 56px;
    margin: 80px 0;
    align-items: center;
}

.page_head-title {
    grid-area: title;
    font-size: 53px;
    line-height: 63px;
    font-weight: 700;
    hyphens: auto;
    margin: 0;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.page_head-desk {
    grid-area: desk;
    display: inline-flex;
    flex-direction: column-reverse;
}

.page_head-desk_text {
    font-size: 24px;
    position: relative;
    overflow: hidden;
    line-height: 34px;
}

.page_head-img {
    grid-area: img;
}

.index_head-img.page_head-img img {
    width: 100%;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
