:root {
    font-size: 16px;
}

*, ::after, ::before {
    box-sizing: border-box;
    font-size: 1em;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

body{
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--light_text_light-bg_primary, #141414);
    /*background-color: var(--light_bg_primary, #F5F6F7);*/
}

body, input, textarea, select, .btn, button,
.h-body, .h-body-lg, .h-body-md, .h-body-small, .h-body-e-small {
    font-family: 'Suisse Intl', sans-serif;
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.625rem;
    font-style: normal;
}

input, textarea, select {
    -webkit-appearance: none;
}

a, .link{
    text-decoration:none;
    cursor: pointer;
}

img, iframe {
    max-width: 100%;
    height: auto;
}

.content img,
.content iframe {
    margin: var(--spacing-x6) 0;
}

p {
    margin: var(--spacing-x5) 0;
}

.content ul,
.content ol {
    padding: 0;
    margin: var(--spacing-x5) 0;
}

.content ul li {
    position: relative;
    list-style-type: none;
    padding-left: 13px;
    margin-top: 8px;
}

.content ul li:first-of-type {
    margin-top: 0;
}

.content ul li:before {
    content: "";
    background: var(--light_text_light-bg_primary);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 10px;
}

.border-radius {
    border-radius: 25px;
}
.border-radius-1 {
    border-radius: 15px;
}
.border-radius-2 {
    border-radius: 10px;
}
.border-radius-3 {
    border-radius: 5px;
}
.clearfix{
    clear: both;
}

hr {
    height: 1px;
    border: none;
}

.text-center {
    text-align: center;
}

.p-0 {
    padding-top: 1px;
    padding-bottom: 1px;
}

.p-1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.p-2 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.p-3 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.p-4 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.p-5 {
    padding: 80px 0;
}

.pt-1 {padding-top: 10px;}
.pt-2 {padding-top: 25px;}
.pt-3 {padding-top: 30px;}
.pt-4 {padding-top: 50px;}
.pt-5 {padding-top: 80px;}
.pt-6 {padding-top: 120px;}
.pb-1 {padding-bottom: 10px;}
.pb-2 {padding-bottom: 25px;}
.pb-3 {padding-bottom: 30px;}
.pb-4 {padding-bottom: 50px;}
.pb-5 {padding-bottom: 80px;}
.pb-6 {padding-bottom: 120px;}

figure {
    margin: 0 0 10px;
}

figure figcaption {
    font-size: 0.95rem;
    color: #848484;
    margin-top: 5px;
    margin-bottom: 15px;
    font-style: italic;
}

.text-bold {
    font-weight: bold;
}
.hiddenStyle, .hidden {
    display: none;
}

.dark-grey {
    color: #636363;
}

.table-scroll {
    overflow: auto;
}

.h-body-lg {
    font-size: 1rem;
    line-height: 1.5rem;
}

.h-body-md {
    font-size: 0.9375rem;
    letter-spacing: -0.01em;
}

.h-body-small {
    font-size: 0.8125rem;
    line-height: 1.25rem;
    letter-spacing: -0.01em;
}

.h-body-e-small {
    font-size: 0.625rem;
    line-height: 1rem;
    letter-spacing: -0.01em;
}

/* titles */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .h1-desk, .h2-desk, .h3-desk, .h4-desk, .h5-desk, .h6-desk, .h4-desk-info {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 1.25;
    font-style: normal;
    letter-spacing: -0.02em;
}

h1,.h1, .h1-desk {
    font-size: 2rem;
    line-height: 40px;
    margin: var(--spacing-x10) 0 var(--spacing-x5) 0;
}

h2,.h2, .h2-desk {
    font-size: 1.625rem;
    line-height: 32px;
    margin: var(--spacing-x10) 0 var(--spacing-x5) 0;
}

h3,.h3, .h3-desk {
    font-size: 1.25rem;
    line-height: 28px;
    margin: var(--spacing-x6) 0 var(--spacing-x5) 0;
}

h4,.h4, .h4-desk {
    font-size: 1rem;
    line-height: 24px;
    margin: var(--spacing-x6) 0 var(--spacing-x5) 0;
}

.h4-desk-info {
    font-size: 1.0625rem;
    line-height: 1.625rem;
    letter-spacing: -0.01em;
}

.h1-desk, .h2-desk, .h3-desk, .h4-desk {
    margin: 0;
}
/* end titles */


@media screen and (max-width: 1023px) {
    .content img,
    .content iframe {
        margin: var(--spacing-x4) 0;
    }

    p {
        margin: var(--spacing-x4) 0;
    }

    .content ul, ol {
        padding: 0;
        margin: var(--spacing-x4) 0;
    }


    h1,.h1, .h1-desk {
        font-size: 1.625rem;
        line-height: 32px;
        margin: var(--spacing-x8) 0 var(--spacing-x4) 0;
    }

    h2,.h2, .h2-desk {
        font-size: 1.375rem;
        line-height: 28px;
        margin: var(--spacing-x8) 0 var(--spacing-x4) 0;
    }

    h3,.h3, .h3-desk {
        font-size: 1.125rem;
        line-height: 24px;
        margin: var(--spacing-x6) 0 var(--spacing-x4) 0;
    }

    h4,.h4, .h4-desk {
        font-size: 0.9375rem;
        line-height: 20px;
        letter-spacing: -0.01em;
        margin: var(--spacing-x6) 0 var(--spacing-x4) 0;
    }

    .h1-desk, .h2-desk, .h3-desk, .h4-desk {
        margin: 0;
    }
}

@media screen and (max-width: 767px) {
    .h-body-md {
        font-size: 0.8125rem;
        line-height: 1.25rem;
    }

    p {
        margin: var(--spacing-x3) 0;
    }

    .content ul, ol {
        padding: 0;
        margin: var(--spacing-x3) 0;
    }


    h1,.h1 {
        margin: var(--spacing-x6) 0 var(--spacing-x3) 0;
    }

    h2,.h2 {
        margin: var(--spacing-x4) 0 var(--spacing-x3) 0;
    }

    h3,.h3 {
        margin: var(--spacing-x3) 0;
    }

    h4,.h4 {
        margin: var(--spacing-x3) 0;
    }
}
