#<IfModule mod_rewrite.c>
#    <IfModule mod_negotiation.c>
#        Options -MultiViews -Indexes
#    </IfModule>
#
#    RewriteEngine On
#
#    # Handle Authorization Header
#    RewriteCond %{HTTP:Authorization} .
#    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
#
#    # Redirect Trailing Slashes If Not A Folder...
##    RewriteCond %{REQUEST_FILENAME} !-d
##    RewriteCond %{REQUEST_URI} (.+)/$
##    RewriteRule ^ %1 [L,R=301]
#
#    # Send Requests To Front Controller...
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteRule ^ index.php [L]
#</IfModule>

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Exclude specific route from trailing slash redirect
    RewriteCond %{REQUEST_URI} !^/fetch/rating/add-vote [NC]

    # Disable trailing slash redirect for POST requests under /admin/
    RewriteCond %{REQUEST_METHOD} !^POST$ [NC]
    RewriteCond %{REQUEST_URI} ^/admin/ [NC]

    # Redirect URLs to include a trailing slash if it's missing, excluding specific files
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !\.(xml|xsl)$ [NC]
    RewriteCond %{REQUEST_URI} !(.*)/$
    RewriteRule ^(.*)$ /$1/ [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Allow cross-origin requests for xml-style.xsl
    <Files "xml-style.xsl">
        Header set Access-Control-Allow-Origin "https://kursy.ru"
    </Files>
</IfModule>
