* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, Montserrat, sans-serif;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.catalog-section > * {
    width: 100%;
}

.kurse_card.card_pc {
    display: grid;
    grid-template-areas:
        "title title length "
        "school price btn"
        "tag tag tag";
    grid-template-columns: 1fr auto auto;
    row-gap: 16px;
    column-gap: 30px;
    grid-gap: 16px 32px;
    margin-bottom: 20px;
    align-items: center;
    width: 100%;
    padding: 24px 40px;
}

.kurse_card.card_white {
    background: #FFFFFF;
}

.kurse_card {
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.05);
    white-space: normal;
    border-radius: 30px;
}

.card_pc .kurse_card-title {
    grid-area: title;
}

.kurse_card-title {
    font-size: 20px;
    font-weight: 500;
}


.card_pc .kurse_card-length {
    grid-area: length;
    font-size: 14px;
    align-self: start;
    justify-content: flex-end;
}

.kurse_card-length {
    display: flex;
    white-space: nowrap;
    flex-flow: wrap;
}

.card_pc .kurse_card-school {
    grid-area: school;
}

.school_minicard-cont {
    display: grid;
    grid-template-columns: 48px 1fr;
    align-items: center;
    grid-gap: 8px;
}

.school_minicard-logo {
    display: flex;
    align-items: center;
    width: 48px;
    height: 48px;
}

.school_minicard-title {
    font-size: 12px;
    font-weight: 500;
}

.school_minicard-title a {
    color: inherit;
    text-decoration: none;
}

.school_minicard-logo {
    display: flex;
    align-items: center;
    width: 48px;
    height: 48px;
}

.school_minicard-logo img {
    width: 100%;
    height: 100%;
}

.school_minicard-subtitle {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 4px;
    grid-gap: 8px;
}

.school_minicard-rating {
    display: flex;
}

.school_minicard-rating_value {
    font-weight: 600;
    font-size: 12px;
    margin-right: 6px;
}
.kurse_card.card_pc.card_white .school_minicard-rating {
    position: relative;
}

.school_minicard-rating img {
    width: 12px;
}
.kurse_card.card_white .school_minicard-reviews {
    color: #469ED7;
}
.school_minicard-reviews {
    display: inline-flex;
    font-size: 12px;
    font-weight: 400;
}
p.school_minicard-reviews_value {
    margin: 0 4px 0 0;
}

p.school_minicard-reviews_text {
    margin: 0;
}

.card_pc .kurse_card-tags {
    grid-area: tag;
}

.kurse_card-tags {
    text-transform: uppercase;
    display: flex;
    white-space: nowrap;
    flex-flow: wrap;
}
.card_pc .kurse_card-price {
    grid-area: price;
}

.kurse_card.card_white .kurse_card-old_price {
    color: #101820;
}

.kurse_card-old_price {
    font-size: 20px;
    text-decoration: line-through;
}

.kurse_card-now_price {
    display: inline-flex;
    align-items: center;
}

.kurse_card.card_white .kurse_card-price_sum {
    color: #469ED7;
}

.kurse_card-price_sum {
    font-size: 35px;
}

.kurse_card.card_white .kurse_card-link {
    background: #469ED7;
    color: #ffffff;
}

.card_pc .kurse_card-link {
    grid-area: btn;
    min-width: 210px;
}

.kurse_card-link {
    min-width: 160px;
    width: 100%;
    font-weight: 500;
    padding: 17px;
    text-align: center;
    border-radius: 42px;
    text-decoration: none;
}

.kurse_card-tags {
    text-transform: uppercase;
    display: flex;
    white-space: nowrap;
    flex-flow: wrap;
}

.kurse_card.card_white .kurse_card-tag_element {
    background: #F5F5F5;
    color: #101820;
}

.card_pc .kurse_card-tag_element {
    margin: 5px 0;
    margin-right: 10px;
    padding: 2px 7px;
    border-radius: 100px;
}

.kurse_card-tag_element {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
}
.card_pc .kurse_card-tags {
    grid-area: tag;
}

.product-sort-btn a {
    color: #101820;
    font-weight: 400;
    display: flex;
    font-size: 18px;
    text-decoration: none;
}

div {
    display: block;
}

.tagpage-filter_sort .product-sort-cont{
    margin-top: 0;
}

.tagpage-filter_sort .product-sort-cont > div {
    margin-bottom: 16px;
}

.short_filter-property_title > p {
    margin: 0;
}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    /*color: fieldtext;*/
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    /*background-color: field;*/
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    /*border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));*/
    border-image: initial;
}

form {
    display: block;
    margin-top: 0em;
}

.short_filter-property_cont > input:checked+.short_filter-property_values {
    height: 0;
    overflow: unset;
}

@media screen and (max-width: 860px) {
    label.short_filter-property_title {
        width: 100%;
        justify-content: center;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 860px) {
    .tagpage-filter_sort .product-sort-cont {
        margin-right: 30px;
        flex-flow: wrap;
    }
}

.product-sort-btn.active a {
    color: #469ED7;
}

.kurse_card-price_installment_pay {
    font-size: 14px;
    margin-left: 13px;
    line-height: 14px;
}

.kurse_card-price_installment_pay p {
    margin-bottom: 0;
    margin-top: 0;
}
