/*@import "components/atoms/badges";*/

.card-course_link-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.card-course_link {
    position: relative;
    z-index: 2;
}

.card-course-md {
    max-width: 304px;
    height: 388px;
    border-radius: 16px;
    background: var(--light_fill_dark-bg_secondary, #FFFFFF);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    gap: var(--spacing-x4, 16px);
    padding: var(--spacing-x4, 16px) var(--spacing-x4, 16px) var(--spacing-x2, 8px);
}

.card-course-md_header {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}

.card-course-md_school-logo {
    order: 1;
    height: 32px;
    width: 32px;
    margin-right: var(--spacing-x2, 8px);
}

.card-courses-md_school-name-wrp {
    display: flex;
    align-items: center;
    order: 2;
    margin-top: 0;
    width: calc(100% - 40px);
    max-width: calc(100% - 40px);
    max-height: 32px;
    line-height: 1rem;
    overflow: hidden;
}

.card-course-md_school-name {
    color: var(--light_text_light-bg_primary, #141414);

    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-course-md_title-wrapper {
    order: 5;
    max-width: 100%;
    line-height: 1rem;
    margin-top: var(--spacing-x4, 16px);
    display: flex;
    align-items: center;
    height: auto;
    overflow: hidden;
}

.card-course-md_title {
    line-height: 1.25rem;
    color: var(--light_text_light-bg_primary, #141414);

    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-course-md_rating-reviews {
    order: 3;
    display: flex;
    align-items: center;
    margin-top: var(--spacing-x2, 8px);
    max-width: 50%;
}

.card-course-md_rating-icon {
    min-height: 16px;
    min-width: 16px;
}

.card-course-md_rating-count {
    color: var(--light_text_light-bg_primary, #141414);
    margin-right: 4px;
}

.card-course-md_reviews-value {
    white-space: nowrap;
    color: var(--light_text_light-bg_secondary, rgba(0, 0, 0, 0.60));
}

.card-course-md_duration {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: baseline;
    order: 4;
    justify-content: flex-end;

    margin-left: auto;
    margin-top: var(--spacing-x2, 8px);
    max-width: 50%;

    font-size: 0.8125rem;
    line-height: 1rem;
}

.card-course-md_body {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-x2, 8px);
    width: 100%;
    margin-top: auto;
    flex-grow: 1;
}

.card-course-md_b-top {
    display: flex;
    flex-direction: column;
    height: 156px;
    position: relative;
    flex-grow: 1;
}

.card-course-md_b-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.card-course-md_btn {
    width: 100%;
}

.card-course-md_other-info {
    display: flex;
    justify-content: center;
    margin-top: auto;
    color: var(--light_text_light-bg_tertiary, rgba(0, 0, 0, 0.45));
    font-size: 0.5rem;
    line-height: 1.25rem;
    overflow: hidden;
    max-height: 20px;
}

.card-course-md_price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-base, 4px);
    margin-top: auto;
}

.card-course-md_price-wrapper {
    display: flex;
    gap: var(--spacing-x2, 8px);
    justify-content: flex-start;
    align-items: baseline;
}

.card-course-md_price-old {
    color: var(--light_text_light-bg_tertiary, rgba(0, 0, 0, 0.45));
    line-height: 1.25rem;
    text-decoration: line-through;
}

.card-course-md_installment-pay {
    line-height: 1.25rem;
}

.card-course-md_installment-val::after {
    content: '/';
    display: inline-block;
    margin-left: 4px;
}

.card-course-md_badges {
    display: flex;
    flex-wrap: wrap;
    gap: 8px var(--spacing-x2, 8px);
    max-height: 88px;
    overflow: hidden;
}

.card-course-md_badges .badge-primary {
    position: absolute;
    bottom: 24px;
    right: 0;
}

@media screen and (max-width: 767px) {
    .card-course-md {
        max-width: 264px;
        height: 368px;
        gap: var(--spacing-x2, 8px);
    }

    .card-course-md_b-top {
        height: 145px;
    }

    .card-course-md_badges {
        max-height: 88px;
    }

    .card-course-md_rating-reviews,
    .card-course-md_duration {
        font-size: 0.6875rem;
    }
}

