.content {
    flex-grow: 1;
}

.max-width {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 0 160px;
}

.page_404_sect {
    margin-bottom: 80px;
}

@media(min-width: 861px){
    .page_404-info_cont {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 85px 0;
    }

    img.page_404_img {
        margin-right: 80px;
    }

    p.page_404_text {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #101820;
    }
}

@media(max-width: 860px){
    img.page_404_img {
        width: 100%;
        padding: 10vw;
    }

    p.page_404_text {
        text-align: center;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #101820;
        padding: 10vw;
    }
}


