.content {
    flex-grow: 1;
}

.max-width {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 0 160px;
}
@media (min-width: 861px) {
    .page_404-info_cont {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 85px 0;
    }
}


@media (min-width: 861px) {
    img.page_404_img {
        margin-right: 80px;
    }
}

@media (min-width: 861px) {
    p.page_404_text {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #101820;
    }
}

.page_404_sect {
    margin-bottom: 80px;
}


