.header-main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 40;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-x4, 16px) 0;
}

.header-wrapper-left {
    display: flex;
    align-items: center;
    gap: 32px;
    z-index: 5;
}

.header-wrapper-right,
.header-btn-group {
    z-index: 5;
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-logo img {
    display: block;
}

/* кнопка гамбургер */
.header-wrapper.open .hamburger-l-1 {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}

.header-wrapper.open .hamburger-l-2 {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}

@media screen and (max-width: 1023px) {
    .header-btn-group,
    .btn-catalog {
        display: none;
    }

    .header-wrapper-right {
        z-index: auto;
    }

    .btn-hamburger {
        display: flex;
    }

    .header-wrapper {
        padding: var(--spacing-x4, 17px) 0;
    }
}

/* каталог */
.catalog-level-1,
.catalog-level-2,
.catalog-level-3,
.catalog-level-4,
.catalog-menu-wrapper {
    position: absolute;
    transition: all .25s ease-in-out;
    visibility: hidden;
    opacity: 0;
    top: 0;
    /*width: 232px;*/
    pointer-events: none;
}

.catalog-menu-wrapper {
    top: 76px;
    width: 100%;
    left: 0;
    z-index: 5;
    opacity: 1;
    visibility: visible;
}

.catalog-level-1{
    opacity: 1;
    width: 100%;
}
/* список категорий */
.catalog-level-2 {
    left: 0;
    width: 100%;
    overflow: auto;
    max-height: calc(100vh - 76px);
    padding: 32px 0 28px;
    cursor: auto;
    scrollbar-gutter: stable;
}

.header-wrapper.open .catalog-level-2 {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}

.catalog-level-3 {
    transform: translateX(232px);
    top: 84px;
}

.catalog-level-4 {
    transform: translateX(232px);
    top: 0;
}

.catalog-level-3.open,
.catalog-level-3.open .catalog-level-4.open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateX(280px);
}

.flyout-background,
.catalog-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    pointer-events: none;
    transition: opacity .2s ease-in-out;
}

.flyout-background {
    transition: all .2s ease-in-out;
    height: 0;
    background: var(--neutral_white, #FFFFFF);
}
.flyout-background:after {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 76px;
    height: 1px;
    opacity: 0;
    background-color: var(--neutral_gray-5, #EAECEE);
}

.catalog-overlay {
    opacity: 0;
    height: 100vh;
    background: var(--transparent_black-2, rgba(0, 0, 0, 0.60));
}

.header-wrapper.open .flyout-background {
    height: 100vh;
    pointer-events: all;
}
.header-wrapper.open .flyout-background:after {
    opacity: 1;
}

.header-wrapper.open .catalog-overlay,
.header-wrapper.search-show .catalog-overlay {
    opacity: 1;
    pointer-events: all;
}

.header-wrapper.search-show .catalog-overlay {
    z-index: -1;
}

.catalog-menu-header,
.tabs-wrapper {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
    margin-bottom: 8px;
}

.tabs-wrapper{
    display: flex;
    margin-bottom: var(--spacing-x4, 16px);
    padding: 0;
    gap: 8px;
    justify-content: left;
    pointer-events: all;
}

.btn-back {
    cursor: pointer;
}
.arrow-right path {
    stroke: currentColor;
}

.catalog-title {
    display: none;
    color: var(--light_text_light-bg_primary, #141414);
    font-family: 'Inter', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: -0.02em;
    padding-bottom: 20px;
}

.catalog-level-2 .catalog-title {
    line-height: 1.75rem;
}

.catalog-level-3 .catalog-title,
.catalog-level-4 .catalog-title {
    padding-bottom: 12px;
}

.catalog-menu-header .catalog-title {
    padding: 0;
}

.catalog-menu-list.hidden {
    display: none;
}

.catalog-menu-list {
    scrollbar-width: thin;
    scrollbar-color: var(--neutral_gray-4, #D5D6D7) transparent;
    transition: all .25s linear;
    opacity: 0;
    width: 232px;
}

.header-wrapper.open .catalog-menu-list {
    opacity: 1;
}

.catalog-menu-i,
.catalog-menu-item a,
.catalog-menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-x4, 16px) 0;
    color: var(--light_text_light-bg_primary, #141414);
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    cursor: pointer;

    font-family: 'Suisse Intl', sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: -0.01em;
    transition: all .2s;
    /*pointer-events: none;*/
}

.header-wrapper.open .catalog-menu-category > .catalog-menu-item,
.catalog-level-3.open > .catalog-menu-list > .catalog-menu-item,
.catalog-level-4.open > .catalog-menu-list > .catalog-menu-item {
    pointer-events: all;
}

.catalog-menu-item .catalog-menu-i,
.catalog-menu-item a {
    padding: 0;
    width: 100%;
}
.catalog-menu-item .catalog-menu-i,
.catalog-menu-item a,
.catalog-menu-item:last-child {
    box-shadow: unset;
}

.catalog-menu-item.hovered > div,
.catalog-menu-item.hovered > a,
.catalog-menu-item:hover > a,
.catalog-menu-item:hover > div {
    color: var(--main_primary, #6349FF);
}

/* поиск */
.header-wrapper.search-show .header-menu-item {
    opacity:0;
}

.search-block {
    display: flex;
    align-items: center;
    position: absolute;
    left: 158px;
    width: calc(100% - 158px);
    visibility: hidden;
}

.header-wrapper.search-show .search-block {
    visibility: visible;
}

.search-input-wrapper {
    display: flex;
    height: 52px;
    width: 100%;
    padding-right: 8px;
}

.search-block-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--neutral_white, #FFFFFF);
    padding: 104px 0 60px;
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
}

.header-wrapper.search-show .search-block-links {
    opacity: 1;
}

.header-wrapper.search-show {
    position: relative;
}

.btn.hidden {
    display: none;
}

/* убрать браузерную кнопку очистить */
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.search-input-text {
    width: 100%;
    z-index: 40;
    font-size: 1rem;
    padding-top: 18px;
}
.search-input-text:active {
    outline: 1px solid transparent;
}
.search-input-text:focus-within,
.search-input-text:focus-visible {
    box-shadow: unset;
}


.search-block-clear {
    position: absolute;
    right: 206px;
    z-index: 40;
}

.search-btn {
    margin-right: 8px;
    z-index: 5;
}

.search-close-btn {
    z-index: 60;
    margin-left: 24px;
}

.links-block-group {
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.35s ease-in-out;
    padding-left: 158px;
}

.header-wrapper.search-show .links-block-group {
    transform: translateX(0);
    opacity: 1;
}

.animate {
    overflow: hidden;
}

.links-block.hidden {
    display: none;
    /*visibility: hidden;*/
}

.h-title-small {
    /* Header/Desktop/H4 */
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: -0.02em;
    padding-bottom: 20px;
}

.h-title-small.result {
    padding-bottom: 32px;
}

.links-block-columns {
    display: flex;
    gap: 40px;
}

.links-block-column,
.links-block-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
}

.links-block-list {
    gap: 32px;
}

.search-links-result {
    overflow: auto;
    max-height: 400px;
}

.search-fixed-body {
    position: fixed;
    left: 0;
    right: 0;
}

@media screen and (max-width: 1023px) {
    .flyout-background{
        display: none;
    }
    .catalog-title{
        display: block;
    }

    .catalog-level-2 .container {
        padding: 0;
    }

    .catalog-level-1,
    .catalog-level-2,
    .catalog-level-3,
    .catalog-level-4,
    .catalog-menu-wrapper {
        background: var(--light_bg_secondary, #FFFFFF);
        width: 500px;
        min-height: 100vh;
        padding: 0 var(--spacing-x6, 24px) var(--spacing-x6, 24px);

        transition: transform .25s ease-in-out;
        position: absolute;
        right: 0;
        top: 0;
        pointer-events: all;
        transform: translateX(100%);
        visibility: hidden;
        opacity: 0;
    }

    .catalog-menu-wrapper {
        overflow: hidden;
        left: auto;
        visibility: visible;
    }

    .header-wrapper.open .catalog-menu-wrapper {
        transform: translateX(0);
        z-index: 20;
        opacity: 1;
    }

    .catalog-level-3.open,
    .catalog-level-3.open .catalog-level-4.open {
        transform: translateX(-100%);
    }

    .catalog-level-1 {
        opacity: 1;
        z-index: 20;
        transform: translateX(100%);
    }
    .catalog-level-2 {
        z-index: 25;
        transform: translateX(-100%);
        overflow: unset;
    }
    .catalog-level-3 {
        z-index: 30;
        transform: translateX(-100%);
    }
    .catalog-level-4 {
        z-index: 35;
        transform: translateX(-100%);
    }

    .catalog-level-1.open {
        visibility: visible;
        transform: translateX(0);
    }
    .catalog-level-2.passed {
        z-index: 25;
        transform: translateX(0);
    }
    .catalog-level-3.passed {
        opacity: 1;
        z-index: 25;
        transform: translateX(0);
    }

    .catalog-level-2.open,
    .catalog-level-3.open,
    .catalog-level-4.open {
        visibility: visible;
        opacity: 1;
    }

    .catalog-menu-list {
        opacity: 1;
        width: 100%;
        height: calc(100vh - 192px);
        overflow-y: auto;
    }

    .catalog-menu-header,
    .tabs-wrapper {
        display: flex;
    }

    .catalog-menu-i,
    .catalog-menu-item a,
    .catalog-menu-item {
        padding: var(--spacing-x5, 20px) 0;
        box-shadow: 0 1px var(--neutral_gray-5, #EAECEE);
        pointer-events: all;
        cursor: auto;
    }

    .catalog-submenu.open .catalog-menu-item,
    .catalog-submenu.open .catalog-menu-i,
    .catalog-submenu.open .catalog-menu-item a {
        cursor: pointer;
    }

    .catalog-menu-item .catalog-menu-i,
    .catalog-menu-item a {
        padding: 0;
        width: 100%;
    }
    .catalog-menu-item .catalog-menu-i,
    .catalog-menu-item a,
    .catalog-menu-item:last-child {
        box-shadow: unset;
    }

    /*.catalog-menu-item > a:hover,*/
    /*.catalog-menu-item > div:hover {*/
    /*    color: var(--main_primary, #6349FF);*/
    /*}*/
    .catalog-menu-item.hovered > div,
    .catalog-menu-item.hovered > a,
    .catalog-menu-item:hover > a,
    .catalog-menu-item:hover > div {
        color: var(--light_text_light-bg_primary, #141414);
    }

    /* поиск */
    .header-wrapper.search-show {
        padding: var(--spacing-x2, 8px) 0;
        height: 60px;
    }

    .search-show .header-logo {
        opacity: 0;
    }

    .search-block{
        left: 0;
        width: 100%;
    }

    .search-input-wrapper {
        height: 44px;
    }

    .search-input-text {
        padding: 14px 90px 12px 16px;
    }
    /* для сафари */
    /*@media screen and (-webkit-min-device-pixel-ratio: 0) {*/
    /*    select:focus, textarea:focus, input:focus {*/
    /*        font-size: 1rem;*/
    /*    }*/
    /*}*/

    .search-block-links {
        transition: all 0.2s ease-in-out;
        max-height: 0;
        overflow: hidden;
        padding: 0;
        transform: unset;
    }

    .header-wrapper.search-show .search-block-links,
    .header-wrapper.search-show .links-block-group {
        transform: unset;
    }

    .links-block-group {
        transition: all 0.25s ease-in-out;
        padding-top: 76px;
        padding-left: 0;
        height: calc(100vh);
        transform: unset;
    }

    .links-block:nth-child(1) {
        max-height: 0;
        overflow: hidden;
        transition: max-height .25s ease-in-out;
    }

    .links-block-columns {
        gap: 32px;
        flex-direction: column;
    }

    .links-block-column, .links-block-list {
        flex-direction: column;
        gap: 32px;
    }

    .search-links-result {
        max-height: calc(100vh - 156px);
    }

    .search-btn {
        display: none;
    }

    .search-block-clear {
        right: 56px;
    }

    .search-input-wrapper {
        padding-right: 16px;
    }

    .search-close-btn {
        margin-left: 0;
    }

    .h-title-small,
    .h-title-small.result {
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 767px) {
    .catalog-level-1,
    .catalog-level-2,
    .catalog-level-3,
    .catalog-level-4,
    .catalog-menu-wrapper {
        width: 100%;
        padding: 0 var(--spacing-x4, 16px) var(--spacing-x2, 8px);
    }
    .catalog-title {
        font-size: 1.25rem;
    }
    .catalog-level-3 .catalog-title,
    .catalog-level-4 .catalog-title {
        padding-bottom: 12px;
    }
    .catalog-menu-list {
        height: calc(100vh - 180px);
    }
}
