.author_card-cont_position {
    position: relative;
}

.author_card-cont {
    width: 32%;
    position: absolute;
    background: white;
    min-width: 250px;
    top: 0;
    right: 0;
    border: 1px solid #D9D9D9;
    border-radius: 45px;
    padding: 24px 40px 40px 40px;
}


.author_card-title {
    text-align: center;
    color: #101820;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.author_card-img {
    display: flex;
    width: 156px;
    height: 156px;
    padding: 24px 0;
    margin: auto;
    background-image: url(http://127.0.0.1:8000/images/employees/ivan-nesterenko.webp);
    background-size: cover;
    background-position: center;
    border-radius: 50%
}

.author_card-name {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #101820;
    margin: 20px 0;
}

.author_card-post {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #A9AAAA;
    margin: 20px 0;
}

.author_card-date {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #101820;
    margin-top: 40px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.author_card-img img {
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
