.counter {
    display: flex;
    width: 16px;
    height: 16px;
    margin-left: 4px;
    padding-top: 2px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: all .15s;
    background: var(--main_primary, #6349FF);
    color: var(--light_text_dark-bg_primary, #FFFFFF);

    font-size: 0.625rem;
    line-height: 1rem;
    letter-spacing: -0.01em;
}
