.articles-slider-list .news_item {
    /* min-width: 250px; */
    /* max-width: calc(100vw - 40px); */
    width: calc(90vw - 50px);
    max-width: 470px;
    flex: 1;
    margin-right: 20px;
}

.news_item {
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.05);
    display: inline-flex;
    isolation: isolate;
    flex-direction: column;
    justify-content: space-between;
    background: #F5F5F5;
}

.articles-slider-list .news_item-head {
    flex: unset;
}

.news_item-head {
    position: relative;
    flex: 1;
}

.news_item-pic {
    height: 100%;
    min-height: 290px;
    /* max-height: 290px; */
    overflow: hidden;
}

.news_item-pic a {
    display: flex;
    height: 100%;
    /* padding-top: 54%; */
    position: absolute;
    width: 100%;
    overflow: hidden;
    /* min-height: 200px; */
}

.news_item-pic a {
    display: flex;
    height: 100%;
    justify-content: stretch;
}

a {
    color: #469ED7;
    text-decoration: none;
}

.articles-slider-list .news_item-pic img {
    object-fit: cover;
    /* width: 100%; */
}
.news_item-pic img {
    position: absolute;
    min-width: 1000%;
    min-height: 1000%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0.1);
    z-index: -1;
}

.news_item-section_tag {
    position: absolute;
    top: 0;
    left: 0;
    margin: 40px;
    background: white;
    padding: 8px 20px;
    /* border: 1px solid #101820; */
    border-radius: 45px;
}

.news_item-section_tag a {
    text-decoration: none;
    color: #101820;
}

.articles-slider-list .news_item-data {
    flex: 1;
}

.news_item-data {
    padding: 0 40px;
    padding-bottom: 34px;
    padding-top: 20px;
    min-height: 155px;
    background: #FFFFFF;
}

.news_item-data_head {
    display: inline-flex;
}

.news_item-date_time {
    margin-right: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #A9AAAA;
}

.news_item-rating {
    font-weight: 600;
    font-size: 16px;
    margin-right: 10px;
    color: #469ED7;
}

.news_item-title {
    padding-top: 16px;
}

.news_item-title a {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-decoration: none;
    color: #101820;
    white-space: initial;
}