.review_card-sect_btn {
    margin-top: 20px;
    display: block;
    color: #469ED7;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
.review_card-cont {
    background: #FFFFFF;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    padding: 40px;
    color: #101820;
    margin-bottom: 20px;
}
.review_card-header {
    display: inline-flex;
    width: 100%;
    white-space: nowrap;
    justify-content: space-between;
}
.review_card-school {
    display: grid;
    grid-template-columns: 56px 1fr;
    grid-gap: 9px;
    align-items: center;
}
.review_card-school_logo {
    display: flex;
    align-items: center;
}
.review_card-school_logo img {
    width: 100%;
}
.review_card-school_info {
    display: inline-flex;
    flex-direction: column;
}
.review_card-school_name {
    line-height: 24px;
    color: #101820;

}
a {
    color: #469ED7;
    text-decoration: none;
}
.review_card-school_rating {
    display: inline-flex;
    width: 100%;
}


.review_card-school_rating_value {
    margin-right: 6px;
}

.review_card-school_stars {
    display: inline-flex;
    align-items: center;
}

.review_card-school_rating_value {
    font-size: 18px;
    font-weight: 600;
    color: #469ED7;
}
.review_card-school_stars > img {
    height: 12px;
    width: 6px;
}
.review_card-right_cont {
    text-align: right;
}
.review_card-date {
    color: #A9AAAA;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    margin-top: 8px;
}
.review_card-author {
    margin-top: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}
.review_card-cont > input {
    display: none;
}
.review_card-pc_close {
    display: none;
}
img.review_card-pc_close-hover {
    display: none;
}
.review_card-data {
    max-height: 200px;
    overflow: hidden;
    position: relative;
    margin-top: 8px;
}
.review_card-data:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(0, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    height: 50%;
}
.dop_open .review_card-data:after {
    content: none;
}
.review_card-sect {
    margin-top: 16px;
}
.review_card-sect_title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
    font-weight: 800;
}
.review_card-sect_value {
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
}

.review_card-sect_btn {
    margin-top: 20px;
    display: block;
    color: #469ED7;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.footer_content ul {
    padding: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
img.rating-right_star {
    margin-right: 8px;
    margin-left: -1px;
}

img.rating-right_star {
    margin-right: 8px;
}

.review_card-cont_bg {
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: rgba(0,0,0,0.5);
}

.review_card-cont.dop_open {
    position: fixed;
    /* height: 50vh; */
    max-width: 50vw;
    top: 50%;
    z-index: 100;
    left: 50%;
    transform: translate(-50%, -50%);
}

.review_card-cont.open {
    position: relative;
}

.review_card-cont {
    background: #FFFFFF;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    padding: 40px;
    color: #101820;
    margin-bottom: 20px;
}

.review_card-cont.dop_open .review_card-data {
    max-height: calc(100vh - 170px);
    overflow-y: auto;
    padding-right: 8px;
}

@media screen and (max-width: 860px) {
    ul {
        padding: 0;
    }

    .review_card-cont.open.dop_open {
        max-height: 95vh;
        overflow-y: hidden;
        overflow-x: hidden;
        max-width: 80vw;
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        padding: 40px 0;
    }

    .dop_open .review_card-header{
        padding: 0 40px;
    }

    .review_card-cont.dop_open .review_card-data {
        /* padding: 0 20px; */
        margin: 0 40px;
    }

    .review_card-cont.open .review_card-date {
        margin-right: 0;
        margin-left: auto;
    }

    .review_card-right_cont {
        text-align: left;
        margin-top: 12px;
    }

    .review_card-header {
        /* display: inline-flex; */
        flex-direction: column;
        width: auto;
        align-self: self-start;
        /* margin-bottom: 20px; */
        /* white-space: nowrap; */
        /* justify-content: space-between; */
    }
}
