.schools_head {
    display: grid;
    grid-template-areas:
        "title img"
        "desk img";
    grid-template-columns: 7fr 3fr;
    grid-gap: 30px;
    margin: 40px 0;
    align-items: center;
}

.schools_head-title {
    grid-area: title;
    font-size: 53px;
    line-height: 63px;
    hyphens: auto;
    margin-top: 40px;
    margin-bottom: 16px;
}

.schools_head-desk {
    grid-area: desk;
    display: inline-flex;
    flex-direction: column-reverse;
}

.schools_head-desk_test {
    font-size: 24px;
    position: relative;
    overflow: hidden;
}

.content {
    flex-grow: 1;
}

.max-width {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 0 160px;
}

.schools-ajax_cont {
    position: relative;
}

@media screen and (max-width: 1200px) {
    .max-width {
        padding: 0 80px;
    }
}

@media screen and (max-width: 1000px) {
    .max-width {
        padding: 0 28px;
    }
}
